body
{
    background-color: #1d1d27;
    background-image: none;
}

.akda-block.starLink
{

}
 
.akdaMain.spin-block .akda-block.starLink { 
    display: inline-block;
        width: 120px;
}
.time-text
{
    white-space: nowrap;
    padding-right: 5px;
    float: right;
    font-size: 12px;
    color: #eaba12
}
a:hover .run-status 
{
    color: #fff
}
.run-status
{
    text-align: center;
      
}
.borderdv
{
        border-bottom: 1px solid #7a7a7a;
    padding-bottom: 10px;

}

.nav-item.nav-custom .nav-link.active .activ-img {
    display: block;
}
.nav-item.nav-custom .nav-link.active .deactive-img {
    display: none;
}

.img-status{
    display: flex;
    justify-content: center
}

@media (max-width: 430px) {
    
.akdaMain.spin-block .akda-block.starLink {  
        width: 90px;
}
.akdaMain.spin-block img
{
   width: 90px;
}
    
}

@media (max-width: 430px) {
.livab { 
    top: 2px; 
    width: 71px;
}
}