 .bz-wrapper    {
     padding: 5rem;
     margin-top: 5rem;
    
     img {
        width: 100%;
     }
     h3 {
         text-align: center;
         font-size: $h3-lg;
         margin-top: 2rem;
     }
 }