.topbar-wrapper {
    width: 100%;
    height: 3rem;
    background-color: $bg-primary-dark;
     
    .topbar-content    {
        position: absolute;
        right: 10px;
        margin-top: 10px;
        font-size: $text-lg;
        .diposit-btn {
            background-image: $bg-secondary;  
            color: black;
            font-weight: 600;
            font-size:$normal-font;
            text-transform: capitalize;
            padding: 5px 10px;
            box-sizing: border-box;
            border-radius: 5px;
            text-decoration: none;
            margin-right: 5px;
        }
        p {
            display: inline-block;
            span i {
                border-radius: 50%;
                padding: 5px 6px;
                // border: 2px solid white;
                 @include comp_border();
            }
        }
        
    }
}