// Colors
  $bg-primary : #420518;
  $bg-primary-dark: #28040f;
  $bg-secondary :  linear-gradient(90deg, #ffeb76, #c09a2f);
  $bg-ternary : linear-gradient(90deg, #aa0073, #860022);
  $text-color-secondary : #000000;
  $white-color : #fff;
  $bd-color : goldenrod;


  // Font Size
  $text-lg : 15px;
  $text-sm : 12px;
  $h2-lg : 24px;
  $h2-sm : 22px;
  $h3-lg : 20px;
  $h3-sm : 18px;
  $h4-lg : 18px;
  $h4-sm : 16px;
  $select-font : 20px;
  $lg-font : 22px;
  $normal-font : 16px;
 
  