body {
    margin: 0;
    padding: 0;
    background-color: #316352;
    background-image: url('../images/Main-strip.jfif');
    background-repeat: repeat-x;

}

* {
    box-sizing: border-box
}

.mainOuter {
    position: relative;
    padding: 10px;
    width: 100%
}

.videoDv {
    /* height: 400px; */
    /* position: fixed; */
    top: 0;
    left: 0;
    right: 0;
    text-align: center
}

.loader {
    position: fixed;
    right: 0;
    top: 29px;
}

.innerMain {
    position: absolute;
    top: 198px;
    left: 0;
    width: 100%;
}

.inputTxt {
    float: left;
    width: 30px;
    background-color: antiquewhite;
}

.inputTxt .digit {
    width: 100%;
    border: 0
}

.outer {
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;
    _display: inline;
    _position: static;
    _top: 0;
}

.middle {
    display: table-cell;
    text-align: center;
    _display: inline;
    _position: relative;
    _top: 50%;
}

.inner {
    width: 34px;
    /* static width is necessary */
    display: inline-block;
    _display: inline;
    _top: -50%;
    _position: relative;

}

.digit.option2 {
    background-image: url(../images/2.png)
}

.digit {
    width: 100%;
    border: 0;
    background-image: url(../images/1.png);
    color: #fff;
    text-align: center;
}

.col-inner img {
    width: 100%
}

.col-md-dv {
    float: left;
    width: 50%;
    margin-top: 10px;
    position: relative
}

.col-md-dv.first {
    padding-right: 10px
}

.col-md-dv.third {
    padding-right: 10px
}

.col-md-dv.fifth {
    padding-right: 10px
}

.middletop {
    width: 100%;
    margin-top: 25px;
    padding: 8px 7px 0 7px;
    padding-top: 0
}
.allbet-l {
    width: 25%;
    float: left;
}
.allbet-l img
{
width:100%
}
.allbet-r {
    width: 25%;
    float: right;
    margin-top: -27px;
}
.allbet-r img
{
width:100%
}
.allbet img
{
width:100%
}
.allbet {
    width: 40%;
    display: block;
    margin: auto;
   margin-top: -27px;
}
.allbet img
{
width:100%
}
.allbet {
    width: 100px;
    display: block;
    margin: auto;
    margin-top: 1px;
}
.allbet img {
    width: 100%
}

.clrBoth {
    clear: both;
    height: 0;
    line-height: 0;
    width: 100%
}

.awBtn {
    background-color: #194131;
    height: 30px;
    display: inline-block;
    width: 30px;
    text-align: center;
    line-height: 30px;
    border-radius: 50%;
    color: #439072;
    margin-left: 5px;
    margin-right: 5px;
    text-decoration: none;
}

.amt img {
    width: 100%
}

.top {
    width: 100%
}

.circleMiddle {
    position: absolute;
    right: -9%;
    z-index: 12;
    bottom: -35%;
    width: 24%;
}

.scrollitem img {
    width: 100%
}

.bottomDv {
    /* position: fixed; */
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 1000;
    padding-bottom: 10px
}

.middletop:nth-child(1),
.middletop:nth-child(3),
.middletop:nth-child(5) {
    color: red;
}

.bottoml {
    float: left;
    width: 50%;
    padding-left: 5px;
}

.middlebtm {
    width: 238px;
    margin: auto;
    text-align: center;
    position: relative;
    font-size: 12px;
    margin-top: 20px;
}

.curveDV {
    position: absolute;
    top: 0;
    left: 0
}

.ud {
    float: left;
    width: 80px;
    text-align: right;
    color: #fff;
    margin-top: 0px;
    display: flex;
    line-height: 26px;
    font-size: 14px;
}

.amt {
    margin: 0 5px;
    width: 40px;
    display: inline-block;
}

.rd {
    float: right;
    color: #fff;
    margin-top: 0px;
    display: flex;
    line-height: 26px;
    font-size: 14px;
}

.coin {
    position: absolute;
    top: 50%;
    right: 10%;
    z-index: 50;
    margin-top: -10%;
    width: 20%;
}

.ldv {
    float: left;
    margin-top: 5px
}

.rdv {
    float: right;
    text-align: center;
}
.rdv1 {
    float: left;
    text-align: center;
}

.circl-md {
    position: relative
}

.circleMiddle img {
    width: 100%
}

.bottomr {
    text-align: right;
    padding-right: 5px;
}

.bottoml {
    text-align: left
}

.bottoml p,
.bottomr p {
    margin: 0;
    padding: 0;
    font-size: 12px;
    color: yellow
}

.bottoml span,
.bottomr span {
    color: #fff
}

.scroll-outer {
    width: 100%;
    overflow-x: auto
}

.scroll-inner {
    width: 150%
}


/* Boot*/

.col.circl-md.col-inner {
    padding: 5px
}

/* ####Boot*/


/* .centerCoin {
    width: 200px;
    position: fixed;
    left: 58%;
    top: 100px;
    margin-left: -100px;
} */
.centerCoin {
    width: 30%;
    position: fixed;
    left: 38%;
    top: 55%;
    /* margin-left: -100px; */
}
/* .centerCoin {
    width: 200px;
    position: fixed;
    left: 58%;
    top: 170%;
    z-index: 9;
    margin-left: -100px;
    transform: translate(-15%, 25%); 

}  */

.centerCoin img {
    width: 75%
}

.betInfo {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    position: relative
}

.betInfo img {
    width: 100%
}



@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

/* Menu Scroll Bar */

.outer-scrolling::-webkit-scrollbar {
    height: 8px;
    padding-left: 20px;
    padding-right: 20px;
}

.outer-scrolling::-webkit-scrollbar-track {
    border-radius: 10px;
}

.outer-scrolling::-webkit-scrollbar-thumb {
    background: rgb(99, 99, 99);
    border-radius: 10px;
}

.outer-scrolling::-webkit-scrollbar-thumb:hover {
    background: rgb(120, 120, 120);
}

.scrollitem {
    border-radius: 16px;
    text-align: center;
    display: inline-block;
    color: #848484;
    font-family: 'Poppins', sans-serif;
}

.scrollitem:hover {
    color: #eeeeee;
}

.outer-scrolling {
    overflow-y: hidden;
    white-space: nowrap;

}


.inner-scrolling {
    text-align: center
}

.middletop.tp {
    margin-top: 0;
}

.headerTop {
    position: fixed;
    width: 100%;
    left: 0;
    right: 0;
    text-align: 0;
    top: 0;
    z-index: 99;
}

.scrollitem:hover {
    z-index: 2;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1.3);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1.3);
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1.3);
    transition: all 200ms ease-in;
    transform: scale(1.3);
}

/* Hide scrollbar for Chrome, Safari and Opera */
.outer-scrolling::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.outer-scrolling {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

.innerMain.bootOuter {
    padding: 20px;
    padding-bottom: 0px;
    padding-top: 5px;
}
  
.outer-scrolling.bootScroll {
    width: 100%;
    margin-top: 10px
}

.crvImg {
    width: 100%
}

.crvImg {
    width: 38px;
    display: inline-block;
    position: absolute;
    padding: 2px;
}

.bottomTop {}

.curveInner {
    position: relative
}

.c1 {
    top: -30px;
    left: 49px;
}

.c2 {
    top: -68px;
    left: 103px;
}

.c3 {
    top: -57px;
    left: 135px;
}

.c4 {
    top: -30px;
    left: 154px;

}

.c5 {
    top: 2px;
    left: 42px;
}

.c6 {
    top: -55px;
    left: 72px;
}

.c7 {
    top: 2px;
    left: 162px;
}

.curveDV {
    opacity: 1;
    /* Fully visible */
    visibility: visible;
    /* Element is visible */
    max-height: 500px;
    /* Enough height to fit content */
    transition: opacity 0.5s ease, visibility 0.5s ease, max-height 0.5s ease;
    /* Smooth transition for opacity, visibility, and max-height */
}

/* Hidden state */
.curveDV.hidden {
    opacity: 0;
    /* Invisible */
    visibility: hidden;
    /* Element hidden */
    max-height: 0;
    /* Collapse height */
}


@media only screen and (min-width: 1200px) {
    .mainOuter {
        display: none
    }
}

/* Circle pop-put  CHips */

* {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

#toggle-btn,
.menu a {
    position: absolute;
    display: block;
    display: -ms-grid;
    display: grid;
    place-items: center;
    border-radius: 50%;
}

#toggle-btn {
    width: 46px;
    color: #ffffff;
    font-size: 40px;
    border: none;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    margin-top: -20px;

}

.menu a {
    background-color: #ffffff;
    height: 30px;
    width: 30px;
    font-size: 22px;
    color: #4249ed;
    text-decoration: none;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    margin-top: -17px;
    margin-left: 14px;
}

.active {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

#yt-link {
    background-color: #ffffff;
    color: #0f1730;
    position: absolute;
    display: block;
    margin: auto;
    left: 0;
    right: 0;
    bottom: 30px;
    padding: 15px 0;
    border-radius: 5px;
    width: 320px;
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    text-decoration: none;
}

.wheelContainer1.crezyWheelContainer .wheelSVG1
{
    transform: translate(0%, -31%) matrix(1, 0, 0, 1, 0, 0) !important;
    overflow: visible;
}

/*----Circle pop-put  CHips-----*/

/*---------------*/
.wheelContainer .wheelSVG {
    visibility: visible;
    top: 0 !important;
    left: 0 !important;
    width: 100%;
    transform: translate(0, 18%) matrix(1, 0, 0, 1, 0, 0) !important;
}
.crezyWheelContainer
{
    margin: auto;
    /* margin-top: -19px; */
}
.crezyWheelContainer .wheelSVG1 {
    visibility: visible;
    top: 0 !important;
    left: 0 !important;
    width: 100%;
    transform: translate(-1, 18%) matrix(1, 0, 0, 1, 0, 0) !important;
}

.wheelContainer  .wheelSVG2 {
    visibility: visible;
    top: 0 !important;
    left: 0 !important;
    width: 100%;
    transform: translate(-1, 18%) matrix(1, 0, 0, 1, 0, 0) !important;
}

.innerMain.bootOuter {
    top: 100%;
}

/*-----------*/









@media only screen and (max-width: 1200px) {
  
    .wheelContainer, .wheelContainer2, .crezyWheelContainer {
        max-width: 56%;
        top: 100%;
    }
}


@media only screen and (max-width: 767px) {
    .wheelContainer, .wheelContainer2, .crezyWheelContainer {
        max-width: 70%; 
    }
}

@media only screen and (max-width: 620px) {
    .point0 .countNo {
        left: 88% !important;
    }
}

@media only screen and (max-width: 540px) {
    .wheelContainer, .wheelContainer2, .crezyWheelContainer {
        max-width: 82%; 
    }
}

@media only screen and (max-width: 480px) {
    .wheelContainer, .wheelContainer2, .crezyWheelContainer {
        max-width: 100%; 
    }
}
@media only screen and (min-width: 481px) and (max-width:800px) {
    .wheelContainer, .wheelContainer2, .crezyWheelContainer {
        width: 600px; 
    }
}

@media only screen and (max-width: 440px) {
    .point0 .countNo {
        left: 105% !important;
    }
}
@media only screen and (max-width: 420px) {
    .point0 .countNo {
        left: 128% !important;
    }
}
@media only screen and (max-width: 390px) {
    .point0 .countNo {
        left: 118% !important;
    }
}

@media only screen and (max-width: 360px) {
    .point0 .countNo {
        left: 124% !important;
    }
}

@media only screen and (max-width: 330px) {


}
